.roshan{
    width:200%;
    left:80px;
    background-color:rgb(196, 63, 30);
}
.rosh{
    position: relative;
    left:20px;
    position:relative; 
    top:0px;
    display:inline-block;
    font-size: 20px;
   
}
.rohan{
    color:blue;
}
.gautam{
    left:20px;
    position:relative; 
    top:0px;
    display:inline-block;
    font-size: 20px;
}
.r15rr{
background-color:rgb(212, 210, 181);

}