h2{
    color:orange;
}
.r15{
    height:100px;
    width:150px;
}
.rand{
    height:100px;
    width: 200px;
}
.r99{
    background-color: rgb(237, 255, 196);
    
    background: rgb(177, 196, 185);
    text-align: center;
}
.r77{
    border-radius: 50%;
}
.tty5{
    width: 40%;
}
.t55{
    color:rgb(8, 8, 238);
}
.h2{
    background-color:orange;
}