.madar1{
    margin: 0;
    background: rgb(177, 196, 185);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -20%;
    transform: translate(-50%, -50%);
     
}
.tty69{
    width:20%;
    height: 20%;
    background-color: rgb(237, 255, 196);
    font-size: 20px;
}
.r11{
    font-size:20px;
}
.r15{
    height:40px;
    width:200px;
}
.r698{
    font-size: 45%;
}
.r1666{
    background-image: url("");
    background-color:rebeccapurple;
}