.ri{
    left:125px;
    position:relative;  
    top:2px;
    display:inline-block;
    top: 5opx;
    vertical-align:top;
}
.ros{
    
    left:500px;
    position:relative;
    
    top: 5opx;
    vertical-align:top;

    
}
.rr88{
    background-color: blanchedalmond;
} 
    
.tty{
    width:65%;
    background-color: rgb(209, 209, 238);
}
.r199{
    background-image: url("https://www.futuresplatform.com/sites/default/files/styles/article_hero_image/public/2018-04/Future%20of%20Airplanes.jpg?itok=Oj9J2usE");
}